[user]
	name = Leonardo Grasso
	email = me@leonardograsso.com
	signingkey = 27574B83
[core]
	editor = nano
[credential]
	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	code = !~/.git-code/bin/git-code.sh

[gpg]
	program = gpg2

[commit]
	gpgsign = true
