[user]
	name = Leonardo Grasso
	email = me@leonardograsso.com
[core]
	editor = nano
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
