[user]
	name = Leonardo Grasso
	email = me@leonardograsso.com
	signingkey = 27574B83
[core]
	editor = nano
	excludesfile = ~/.gitignore_global
[credential]
	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	code = !~/.git-code/bin/git-code.sh
	pre = pull --rebase
	st = status
	lod = log --decorate
	lodo = log --decorate --oneline
	lof = log --color --pretty=format:'%C(yellow)%h%C(reset) %s%C(bold red)%d%C(reset) %C(green)%ad%C(reset) %C(blue)[%an]%C(reset)' --relative-date --decorate
	pr = "!f() { git fetch $1 refs/pull/$2/head:pr/$1/$2 && git checkout pr/$1/$2;  } ; f"

[gpg]
	program = gpg2

[commit]
	gpgsign = true

[pull]
    rebase = true